$base-color:#666;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
/*@include pictos-iconmask('video');
@include pictos-iconmask('music1');
@include pictos-iconmask('photos2');
@include pictos-iconmask('doc2');

@include pictos-iconmask('tv');
@include pictos-iconmask('phone2');
@include pictos-iconmask('monitor1');

@include pictos-iconmask('play2');
@include pictos-iconmask('add_black');
@include pictos-iconmask('list');

@include pictos-iconmask('tv');
@include pictos-iconmask('hot');
@include pictos-iconmask('lab');
@include pictos-iconmask('infinite');*/


$bg-color: #333;//#337; //background color
$fg-color:#ddd; //foreground color
$sel-color:#006bb6; //selected items color
$csel-color:complement($sel-color); //complementary of selected items color
$hl-color:lighten($sel-color, 15%); //highlight or pressed color

//List variables
$list-zebrastripe:true;
$list-bg-color:$bg-color;
$list-color:$fg-color;
$list-active-color:$sel-color;
$list-pressed-color:$hl-color;


@include sencha-list();
@include sencha-msgbox();
/**
 * carbon theme http://lea.verou.me/css3patterns/#carbon
 */
@mixin background-carbon(
    $background-color: $background-carbon-base-color,
    $dot-size: 5px
) {
    @include background(
      -webkit-linear-gradient(27deg, $background-color+#020202 $dot-size, rgba(#fff, 0) $dot-size) 0 $dot-size,
      -webkit-linear-gradient(207deg, $background-color+#020202 $dot-size, rgba(#fff, 0) $dot-size) 2*$dot-size 0px,
      -webkit-linear-gradient(27deg,  $background-color+#0F0F0F $dot-size, rgba(#fff, 0) $dot-size) 0px $dot-size,
      -webkit-linear-gradient(207deg, $background-color+#0F0F0F $dot-size, rgba(#fff, 0) $dot-size) 2*$dot-size $dot-size,
      -webkit-linear-gradient(90deg, $background-color+#080808 2*$dot-size, rgba(#fff, 0) 2*$dot-size),
      -webkit-linear-gradient($background-color+#0A0A0A 25%, $background-color+#070707 25%, $background-color+#070707 50%, rgba(#fff, 0) 50%, rgba(#fff, 0) 75%, $background-color+#111111 75%, $background-color+#111111)
    );

    background-repeat: repeat;
    background-color: $background-color;
    background-size: (4*$dot-size) (4*$dot-size);
}

.main-container{
/*   background-color: darken($base-color,50%); */
/*   @include background-carbon(darken($base-color,50%),5px); */
  $background-carbon-fiber-base-color:darken($base-color,30%);
  @include background-carbon-fiber($background-carbon-fiber-base-color,$dot-color: scale-lightness($background-carbon-fiber-base-color, -50),
  $highlight-color: rgba($highlight_color, .1),
  $spacing-size: 12px,
  $dot-size: 1.5px);
}

.title-container{
  background-color: #000;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
}

div.nav-selected, div.x-container .x-unsized .x-dataview{
  border: 3px solid $csel-color;
}

/*.nav-selected{
  .x-container .x-unsized .x-dataview{
    border: 3px solid $csel-color;
  }
}*/

.selected-column-header{
  color:lighten($hl-color,20%);
  text-shadow: 0 0 20px $hl-color;
}


@include sencha-button-ui('tile', $bg-color/*, 'glossy'*/);

.tile-btn{
  font-size:0.7em;
  color:$fg-color;
}

//csc = complementary of selection color
@include sencha-carousel-indicator-ui('csc-indicator',$csel-color,'glossy',lighten($csel-color,30%),'glossy');

//Scroll indicator for the phone UI
.phone-listview-indicator{
  .x-scroll-indicator{
    background-color:$csel-color;
  }
}

//Playlist unselected item container
.playlist{
  max-width:100%;
}

.playlist div .x-dataview{
  $bg-inner-color:darken($bg-color,15%);
  border-top: 0.25em solid $bg-inner-color;
  background-color:$bg-inner-color;
  margin: 0.15em;
}

.playlist div{
  max-width:100%;
}

.playlist-disclosure{
  background-color:darken($bg-color,5%);
  color:darken($fg-color,10%);;
  text-align:center;
}

.playlist-item{
  text-align:left;
  font-size:0.7em;
  margin: 0.25em;
  color:$fg-color;
  white-space:nowrap;
}

.playlist-item{
/*   background-color:$bg-color; */
  @include background-gradient($bg-color);
}

.playlist-item:nth-child(odd){
/*   background-color:darken($bg-color,10%); */
  @include background-gradient(darken($bg-color,10%));
}

.playlist-item:nth-child(even){
/*   background-color:$bg-color; */
  @include background-gradient($bg-color);
}

.playlist-item-pressed{
/*   background-color:$hl-color; */
  @include background-gradient($hl-color);
}

.playlist-item-pressed:nth-child(even){
/*   background-color:$hl-color; */
  @include background-gradient($hl-color);
}

.playlist-item-pressed:nth-child(odd){
/*   background-color:$hl-color; */
  @include background-gradient($hl-color);
}

.playlist-item-selected{
  @include background-gradient($sel-color);
}

.playlist-item-selected:nth-child(even){
  @include background-gradient($sel-color);
}

.playlist-item-selected:nth-child(odd){
  @include background-gradient($sel-color);
}

.videoplayermask{
  background-color:darken($bg-color,10%);
  opacity:0.8;
/*  -webkit-box-reflect: below 0
   -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(blue)); */
}

.videobox
{
  margin:0.25em;
  border:0.25em solid darken($base-color,35%);
  $background-carbon-fiber-base-color:darken($base-color,45%);
  @include background-carbon-fiber($background-carbon-fiber-base-color,$dot-color: scale-lightness($background-carbon-fiber-base-color, -50),
  $highlight-color: rgba($highlight_color, .1),
  $spacing-size: 12px,
  $dot-size: 1.5px);
}

//Basic Tile class, much like abstract class
.default-tile,.tile-panel,.tile-panel-selected,.tile-panel-pressed,.multi-tile-panel{
  text-align:center;
  font-size:70%;
  color:$fg-color;
/*   border: 0.1em solid transparent; */
  margin: 0.1em;
/*   padding:0.1em; */
}


//Tile unselected
.tile-panel{
/*   background-color:$bg-color; */
  @include background-gradient($bg-color);
}

//Tile selected
.tile-panel-selected{
  @include background-gradient($sel-color);
}

//Tile pressed
.tile-panel-pressed{
/*   background-color:$hl-color; */
  @include background-gradient($hl-color);
}

//Tile text
.tile-text{
/*   display:block; */
  overflow-x:hidden;
  /*margin: 0.5em 0em 0.5em 0em;*/
  margin: 2% 0% 2% 0%;
}

//Panel with multiple panels inside
.multi-tile-panel,.multi-tile-panel-selected,.multi-tile-panel-pressed{
  color:transparent;
  border: 0px;
  margin: 0.1em;
  padding: 0px;
}

div.multi-tile-panel div.tile-panel{
/*   border: 0px; */
  margin: 0px;
/*   padding: 0px; */
}

div.multi-tile-panel div.tile-panel:first-child{
  margin:0 0.15em 0 0;
}

div.multi-tile-panel-selected div.tile-panel{
  @include background-gradient($sel-color);
}

div.multi-tile-panel-pressed div.tile-panel{
  background-color:$hl-color;
}

.actionslist{
  .x-inner, .x-body {
    .x-unsized{
      height:100%;
    }
  }
}
//Tile icons
.default-tile-icon,.tile-icon-play,.tile-icon-queue,.tile-icon-favorites,.tile-icon-webinos,.tile-icon-pc,.tile-icon-list,.tile-icon-phone,.tile-icon-tablet,.tile-icon-tv,.tile-icon-laptop,.tile-icon-video,.tile-icon-image,.tile-icon-audio,.tile-icon-doc,.tile-icon-tvchannel
{
  display:block;
  margin: auto 6% auto 6%;//auto 1.5em auto 1.5em;
  -webkit-mask-size: 40px;
  background-image: none;
  background-color:$fg-color;
  width:40px;
  height:40px;
  padding:0.5em;
  -webkit-transform: translateZ(0);
}

.tile-icon-play{
  -webkit-mask: 0 0 inline-image('svg/play_on.svg') no-repeat;
}

.tile-icon-queue{
  -webkit-mask: 0 0 inline-image('svg/add_queue.svg') no-repeat;
  -webkit-mask-size: 32px;
/*  width:20px;
  height:20px;*/
}

.tile-icon-favorites{
  -webkit-mask: 0 0 inline-image('favorites.png') no-repeat;
}

.tile-icon-webinos{
  -webkit-mask: 0 0 inline-image('svg/apps.svg') no-repeat;
}

.tile-icon-pc{
  -webkit-mask: 0 0 inline-image('svg/pc.svg') no-repeat;
}

.tile-icon-list{
  margin: auto 1.5em auto 1.5em;
  -webkit-mask: 0 0 inline-image('svg/queue.svg') no-repeat;
}

.tile-icon-tvchannel{
  -webkit-mask: 0 0 inline-image('svg/tv_channels.svg') no-repeat;
}

.tile-icon-phone{
  -webkit-mask: 0 0 inline-image('svg/phone.svg') no-repeat;
}

.tile-icon-tablet{
  -webkit-mask: 0 0 inline-image('svg/tablet.svg') no-repeat;
}

.tile-icon-tv{
  -webkit-mask: 0 0 inline-image('svg/tv.svg') no-repeat;
}

.tile-icon-laptop{
  -webkit-mask: 0 0 inline-image('svg/laptop.svg') no-repeat;
}

.tile-icon-audio{
  -webkit-mask: 0 0 inline-image('svg/music.svg') no-repeat;
}

.tile-icon-video{
  -webkit-mask: 0 0 inline-image('svg/movie.svg') no-repeat;
}

.tile-icon-image{
  -webkit-mask: 0 0 inline-image('svg/image.svg') no-repeat;
}

.tile-icon-doc{
  -webkit-mask: 0 0 inline-image('svg/folder.svg') no-repeat;
}

//Sliding text
.sliding-text{
  /* W3C  */
  overflow-x: marquee-line;
  marquee-direction: forward;
  marquee-style: scroll;
  marquee-speed: normal;
  marquee-play-count: infinite;
  /* Safari and Chrome  */
  overflow-x:-webkit-marquee;
  -webkit-marquee-direction: backwards;
  -webkit-marquee-style: scroll;
  -webkit-marquee-speed: normal;
  -webkit-marquee-increment: 1%;
  -webkit-marquee-repetition: infinite;
}

/*
.sliding-text{
  text-overflow:clip;
  white-space:nowrap;
  -webkit-animation-name: slider;
  -webkit-animation-duration: 20s;
  -webkit-animation-delay: -10s; //important! makes the text start from 0
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes slider{
  0%{
    -webkit-transform: translateX(100%);
  }
  50%{
    -webkit-transform: translateX(0%);
  }

  100%{
    -webkit-transform: translateX(-150%);
  }
}*/



//For labels of not yet implemented features
.not-implemented-yet {

}
@-webkit-keyframes rotateAndScale {
  0% {
    -webkit-transform:scale(1.0) rotate(0deg);
  }

  60% {
    -webkit-transform:scale(2.5) rotate(0deg);
  }

  100% {
    -webkit-transform:scale(1.0) rotate(360deg);
  }
}


//BrowserView reduce/restore
$scaleFactor:0.7;
$offset:15%;
$time:0.5s;
.reduce-size{
  top:$offset;
  left:-$offset;
  transform:scale($scaleFactor,$scaleFactor) translateZ(0); /* Safari and Chrome */
  -webkit-transform:scale($scaleFactor,$scaleFactor) translateZ(0); /* Safari and Chrome */
}

.restore-size{
/*  top:0;
  left:0;*/
  transform:scale(1.0,1.0) translateZ(0); /* Safari and Chrome */
  -webkit-transform:scale(1.0,1.0) translateZ(0); /* Safari and Chrome */
}

//reduce with transition: still some issues on some devices
.reduce-size-wtransition
{
/*  top:$offset;
  left:-$offset;*/
  transform:scale($scaleFactor,$scaleFactor);
  -webkit-transform:scale($scaleFactor,$scaleFactor) translateZ(0); /* Safari and Chrome */
  -webkit-animation-name: reduceSize;
  -webkit-animation-duration: $time;
  -webkit-animation-delay: 0s; //important! makes the text start from 0
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes reduceSize {
  0% {
/*    top:0;
    left:0;*/
    -webkit-transform:scale(1.0) translateZ(0);
  }

  100% {
/*    top:$offset;
    left:-$offset;*/
    -webkit-transform:scale($scaleFactor,$scaleFactor) translateZ(0);
  }
}

.restore-size-wtransition
{
/*  top:0;
  left:0;*/
  transform:scale(1.0,1.0);
  -webkit-transform:scale(1.0,1.0) translateZ(0); /* Safari and Chrome */
  -webkit-animation-name: restoreSize;
  -webkit-animation-duration: $time;
  -webkit-animation-delay: 0s; //important! makes the text start from 0
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
}

@-webkit-keyframes restoreSize {
  0% {
/*    top:$offset;
    left:-$offset;*/
    -webkit-transform:scale($scaleFactor,$scaleFactor) translateZ(0);;
  }

  100% {
/*    top:0;
    left:0;*/
    -webkit-transform:scale(1.0,1.0) translateZ(0);
  }
}