@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('video');
@include pictos-iconmask('music1');
@include pictos-iconmask('photos2');
@include pictos-iconmask('doc2');

@include pictos-iconmask('tv');
@include pictos-iconmask('phone2');
@include pictos-iconmask('monitor1');

@include pictos-iconmask('play2');
@include pictos-iconmask('add_black');
@include pictos-iconmask('list');

@include pictos-iconmask('tv');
@include pictos-iconmask('hot');
@include pictos-iconmask('lab');
@include pictos-iconmask('infinite');


$bg-color:#337;
$fg-color:#ddd;
$hl-color:#acf;

$list-zebrastripe:true;
$list-bg-color:$bg-color;
$list-color:$fg-color;

@include sencha-list();

@include sencha-button-ui('tile', $bg-color, 'glossy');

.tile-btn{
  font-size:0.7em;
  color:$fg-color;
}

.tile-panel{
  text-align:center;
  font-size:0.7em;
  color:$fg-color;
  background-color:$bg-color;
}

.tile-panel-selected{
  font-size:0.7em;
  color:$bg-color;
  background-color:lighten($bg-color, 50%);;
}

.tile-panel-pressed{
  font-size:0.7em;
  color:$bg-color;
  background-color:$hl-color;
}